doctype html
html(lang="en")
    include ./import/partials/head.pug
    body 
        include ./import/partials/header.pug

        include ./import/layout/index.pug

        include ./import/partials/footer.pug

        include ./import/partials/script.pug