doctype html
html(lang="en")
    - var pageName = "works";
    include ./import/partials/head.pug
    body.works_wrap(data-scroll-container)
        include ./import/partials/subHeader.pug

        include ./import/layout/works.pug

        include ./import/components/inquiryMoveSec.pug
        
        include ./import/partials/footer.pug

        include ./import/components/hambugerMenu.pug

        include ./import/components/pagemove.pug

        script(src="./js/subScroll.js") 
        script(src="./js/worksList.js") 
        script(src="./js/common.js") 