@font-face {
    font-family: "Graphik-regular";
    src: url("../fonts/GraphikLCG-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/GraphikLCG-Regular.ttf") format('truetype'),
         url("../fonts/GraphikLCG-Regular.woff") format('woff'),
         url("../fonts/GraphikLCG-Regular.woff2") format('woff');
}

@font-face {
    font-family: "PlayfairDisplay-medium";
    src: url("../fonts/PlayfairDisplay-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "PlayfairDisplayItalic-medium";
    src: url("../fonts/PlayfairDisplay-MediumItalic.ttf") format('truetype');
}

@font-face {
    font-family: "NewsreaderText-regular";
    src: url("../fonts/NewsreaderText-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "NotoSansKr-medium";
    src: url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NotoSansKr-regular";
    src: url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}