$white1     :       #ffffff;
$white2     :       #F4FBFF;
$white3     :       #EAF7FF;
$blue1      :       #1D71CC;
$blue2      :       #114D94;
$black1     :       #000000;
$black2     :       #1E2022;
$gray1      :       #52616A;
$gray2      :       #A29B9D;
$gray3      :       #6B6B6B;
$green1     :       #1F4901;
$green2     :       #90AA7D;
$brown1     :       #A15548;
$gold1      :       #C5A171;