footer(data-scroll-section)
    .inner 
        ul.footer-list
            li 
                button.top-btn(href="#top" data-scroll-to) top
            li 
                nav.snb 
                    ul 
                        li 
                            a.sns(href="https://www.facebook.com/profile.php?id=100016921872562") Facebook 
                        li 
                            a.sns(href="https://www.instagram.com/maru_pub49/") Instagram
                        li 
                            a.sns(href="https://open.kakao.com/o/sMAGUwGd") Kakaotalk
                        li 
                            a.sns(href="https://github.com/maru-dev4905") Github
            li 
                a.download-btn 
                    .download-icon 
                        i 
                    .download-text 
                        p Download Resume 
                        span PDF, 3 MB
        p.copy 2021. COPYRIGHT LEESEUNGYEOL