
section.about#stick(data-scroll-section)
<<<<<<< HEAD
    .wrap#top
        .about--card--group 
            button.card--open-btn
                img(src="./images/about/about-card.png", alt="about-card") 
=======
    .wrap#top        
>>>>>>> 404d53fcdea948efdedf3ed9cf88610887681149
        .about--img--group(data-scroll data-scroll-sticky data-scroll-target="#stick")
            img(src="./images/about/about-img01.png", alt="about")
            img(src="./images/about/about-img02.png", alt="about")

        .about--text--group 

            h2 SY.
            h3 There's more to me than just
                br
                | creating a static web.
            h4 Lee Seungyeol
            h5 PUBLISHER 
            p 2001.03.30 (21 years old)
                br
                | Bucheon, Gyeonggi Province
            p For those who want to see 
                br
                | flowers, they bloom 
                br
                | everywhere.
            ul.skill
                h3 Skill 
                li 
                    h4 HTML5
                    p Semantic Tag, Compliance with Web standards
                li 
                    h4 CSS3
                    p Grid Layout, Flex Layout, Animation, Responsive
                li 
                    h4 JS & Jquery
                    p Enable Plug-in, Implementing Dynamic Features, 
                        br
                        | Animation, ES6
                li 
                    h4 SCSS
                    p Mixin, component, variable, Include, Function,
                        br
                        | Nesting Available
                li 
                    h4 Microsoft Office
                    p Word, Excel, Power Point Available
                li 
                    h4 Design
                    p Photoshop, Illustrator, Figma