section.contact 
    ul.inner
        li 
            h3 Let's make
            h3.italic somehing
            h3 great!
        li 
            button Reach out
            a.mail(href="mailto:seung_y49@gmail.com") 
                span iseung10e@gmail.com 
        li 
            h3 for
            span.line 
            h3 
                p.active collaboration.
                p experience.
                p new project.
            i 