include ../common/mixin.pug

section#top.worksDetail(data-scroll-section)
    .worksDetail--intro 
        .inner 
            .works--tag
            .works--title 
                h3 
            .works--content
                p 
                p A link to the test server is attached below.
            .scroll--down--btn
                span  
                    | scroll 
                    br
                    | down
section.worksDetail--content#stick(data-scroll-section)
    .worksImg--container 
        .img--wrap 
        
    .worksDetail--sticky(data-scroll data-scroll-sticky data-scroll-target="#stick")
        .works--tag 
        .works--title 
            h3 
        .works--text 
            p 
            p 
            p
        .works--tech 
            h4 Used technology 
            p 
        .works--link 
            span link
            div
                a(href="#").github
                    span github
                    i 
                a(href="#").preview  
                    span preview
                    i 
        
    
    //- include ../components/sns.pug
