nav.gnb 
    ul 
        each name in ['about','works','contact']
            li 
                if pageName == name
                    a.fc-blue(href="./" + name + ".html")= name
                else
                    a(href="./" + name + ".html")= name