section.inquiry-move(data-scroll-section)
    a(href="./contact.html")
        i  
    ul 
        li 
            h4 Let's Work Together.
        li 
            h4 Let's Work Together.
        li 
            h4 Let's Work Together.
        li 
            h4 Let's Work Together.
        li 
            h4 Let's Work Together.