@import "../../common/font";

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 900;
    opacity: 0;

    &.show{
        animation: fadeIn 0.75s 4s cubic-bezier(.25,.46,.45,.94) forwards;
    }
    &.sub{
        animation: none !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .header-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 46px;
        margin-top: 2.396vw;
        height: max-content;
        
        @include responsive("tablet"){
            margin-top: 3.396vw;
        }
        @include responsive("iphone"){
            margin-top: 25px;
            margin-top: 6.944vw;
        }
    }

    .gnb{
        width: calc(100% - 54px);
        width: calc(100% - 2.813vw);
        
        @include responsive("iphone"){
            display: none;
        }
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        li{
            font-size: 42px;
            font-size: 2.188vw;
            line-height: 0;
            height: 0;
            padding: 21px 0;
            padding: 1.094vw 0;
            font-family: "Graphik-regular";
            font-weight: 400;
            color: $black1;
            letter-spacing: 0.5px;
            transition: 0.5s cubic-bezier(.25,.46,.45,.94);
            text-transform: capitalize;

            &:first-child{
                margin-right: auto;
            }
            &:last-child{
                margin-left: 83px;
                margin-left: 4.323vw;
            }
            &:hover{
                opacity: 0.5;
            }

            @include responsive("tablet"){
                font-size: 3.604vw;
            }
        }
        a{
            letter-spacing: -1.5px;
        }
    }

    .logo{
        height: 32px;
        height: 1.667vw;
        margin-right: 83px;
        margin-right: 4.323vw;
        position: relative;
        transition: 0.5s cubic-bezier(.25,.46,.45,.94);
        
        @include responsive("tablet"){
            height: 2.667vw;
            margin-right: 8.323vw;
        }

        @include responsive("iphone"){
            width: 40px;
            width: 11.111vw;
            height: 22px;
            height: 6.111vw;
        }

        a{
            height: 100%;
        }
        img{
            position: absolute;
            height: 100%;
            opacity: 0;
            transition: 0.5s cubic-bezier(.25,.46,.45,.94);

            &:first-child{
                opacity: 1;
            }
        }
    }

    &.small{
        .gnb{
            li{
                font-size: 32px;
                font-size: 1.667vw;
                padding: 16px 0;
                padding: 0.833vw 0;
                
                &:last-child{
                    margin-left: 60px;
                    margin-left: 3.125vw;
                }

                @include responsive("tablet"){
                    font-size: 3vw;
                }
            }
        }
        .logo{
            height: 26px;
            height: 1.354vw;
            margin-right: 60px;
            margin-right: 3.125vw;

            @include responsive("tablet"){
                height: 2vw;
                margin-right: 7.125vw;
            }
        }
    }
    .hambuger--open--btn {
        display: none;
        transition: 0.3s ease;

        @include responsive("iphone"){
            width: 20px;
            height: 12px;
            display: block;
            background: url("../images/icons/ico-hambuger-open-btn.png") no-repeat center / cover;
        }
    }
}